examples/department_router/templates/HTTP_Server_Routing.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>a17be809-0193-1000-4be5-7c8755fd80a4</groupId>
    <name>HTTP Server Routing</name>
    <snippet>
        <connections>
            <id>191cb51b-1418-3583-0000-000000000000</id>
            <parentGroupId>5d42c994-cddc-3c4f-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>5d42c994-cddc-3c4f-0000-000000000000</groupId>
                <id>59167687-0b21-35df-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>5d42c994-cddc-3c4f-0000-000000000000</groupId>
                <id>3d5752ab-8224-38e1-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>2e95170e-81c2-3061-0000-000000000000</id>
            <parentGroupId>5d42c994-cddc-3c4f-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>5d42c994-cddc-3c4f-0000-000000000000</groupId>
                <id>1bf846ce-2183-3894-0000-000000000000</id>
                <type>FUNNEL</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>5d42c994-cddc-3c4f-0000-000000000000</groupId>
                <id>03413d03-3c12-31a2-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>2ecc6dec-b9d6-3ea7-0000-000000000000</id>
            <parentGroupId>5d42c994-cddc-3c4f-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>5d42c994-cddc-3c4f-0000-000000000000</groupId>
                <id>9a71978d-e6c8-3c5e-0000-000000000000</id>
                <type>FUNNEL</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <selectedRelationships>unmatched</selectedRelationships>
            <source>
                <groupId>5d42c994-cddc-3c4f-0000-000000000000</groupId>
                <id>3ad1b263-8462-391f-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>3f08a179-5da1-35fc-0000-000000000000</id>
            <parentGroupId>5d42c994-cddc-3c4f-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>5d42c994-cddc-3c4f-0000-000000000000</groupId>
                <id>3d5752ab-8224-38e1-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <source>
                <groupId>5d42c994-cddc-3c4f-0000-000000000000</groupId>
                <id>9a71978d-e6c8-3c5e-0000-000000000000</id>
                <type>FUNNEL</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>52ad6a70-832a-3261-0000-000000000000</id>
            <parentGroupId>5d42c994-cddc-3c4f-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>5d42c994-cddc-3c4f-0000-000000000000</groupId>
                <id>03413d03-3c12-31a2-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>unmatched</selectedRelationships>
            <source>
                <groupId>5d42c994-cddc-3c4f-0000-000000000000</groupId>
                <id>56bb2744-7410-3246-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>69dd1bd2-4541-3297-0000-000000000000</id>
            <parentGroupId>5d42c994-cddc-3c4f-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>5d42c994-cddc-3c4f-0000-000000000000</groupId>
                <id>9a71978d-e6c8-3c5e-0000-000000000000</id>
                <type>FUNNEL</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <selectedRelationships>invalid</selectedRelationships>
            <source>
                <groupId>5d42c994-cddc-3c4f-0000-000000000000</groupId>
                <id>0b2e0001-a7bd-3421-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>a108fb24-b295-3207-0000-000000000000</id>
            <parentGroupId>5d42c994-cddc-3c4f-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>5d42c994-cddc-3c4f-0000-000000000000</groupId>
                <id>0b2e0001-a7bd-3421-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>5d42c994-cddc-3c4f-0000-000000000000</groupId>
                <id>bd36906e-b36f-3658-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>a34b5c9d-df4b-37e1-0000-000000000000</id>
            <parentGroupId>5d42c994-cddc-3c4f-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>5d42c994-cddc-3c4f-0000-000000000000</groupId>
                <id>1bf846ce-2183-3894-0000-000000000000</id>
                <type>FUNNEL</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>5d42c994-cddc-3c4f-0000-000000000000</groupId>
                <id>fac79ebd-fa18-3efe-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>c4fedf11-5dda-3124-0000-000000000000</id>
            <parentGroupId>5d42c994-cddc-3c4f-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>5d42c994-cddc-3c4f-0000-000000000000</groupId>
                <id>56bb2744-7410-3246-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>5d42c994-cddc-3c4f-0000-000000000000</groupId>
                <id>511bb764-1551-3993-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>cec1f0bd-3930-371d-0000-000000000000</id>
            <parentGroupId>5d42c994-cddc-3c4f-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>5d42c994-cddc-3c4f-0000-000000000000</groupId>
                <id>c6180db2-d4d4-3d8f-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <source>
                <groupId>5d42c994-cddc-3c4f-0000-000000000000</groupId>
                <id>1bf846ce-2183-3894-0000-000000000000</id>
                <type>FUNNEL</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>db3c073e-6d14-3d3c-0000-000000000000</id>
            <parentGroupId>5d42c994-cddc-3c4f-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>5d42c994-cddc-3c4f-0000-000000000000</groupId>
                <id>511bb764-1551-3993-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>matched</selectedRelationships>
            <source>
                <groupId>5d42c994-cddc-3c4f-0000-000000000000</groupId>
                <id>3ad1b263-8462-391f-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>f41e644c-6389-391a-0000-000000000000</id>
            <parentGroupId>5d42c994-cddc-3c4f-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>5d42c994-cddc-3c4f-0000-000000000000</groupId>
                <id>fac79ebd-fa18-3efe-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>management</selectedRelationships>
            <source>
                <groupId>5d42c994-cddc-3c4f-0000-000000000000</groupId>
                <id>56bb2744-7410-3246-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>fe7764ee-9825-3d4e-0000-000000000000</id>
            <parentGroupId>5d42c994-cddc-3c4f-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>5d42c994-cddc-3c4f-0000-000000000000</groupId>
                <id>3ad1b263-8462-391f-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>valid</selectedRelationships>
            <source>
                <groupId>5d42c994-cddc-3c4f-0000-000000000000</groupId>
                <id>0b2e0001-a7bd-3421-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <controllerServices>
            <id>e5c6d7fa-a3f9-31cc-0000-000000000000</id>
            <parentGroupId>5d42c994-cddc-3c4f-0000-000000000000</parentGroupId>
            <bulletinLevel>WARN</bulletinLevel>
            <bundle>
                <artifact>nifi-http-context-map-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.19.1</version>
            </bundle>
            <descriptors>
                <entry>
                    <key>Maximum Outstanding Requests</key>
                    <value>
                        <name>Maximum Outstanding Requests</name>
                    </value>
                </entry>
                <entry>
                    <key>Request Expiration</key>
                    <value>
                        <name>Request Expiration</name>
                    </value>
                </entry>
            </descriptors>
            <name>StandardHttpContextMap</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Maximum Outstanding Requests</key>
                    <value>5000</value>
                </entry>
                <entry>
                    <key>Request Expiration</key>
                    <value>1 min</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.http.StandardHttpContextMap</type>
        </controllerServices>
        <funnels>
            <id>1bf846ce-2183-3894-0000-000000000000</id>
            <parentGroupId>5d42c994-cddc-3c4f-0000-000000000000</parentGroupId>
            <position>
                <x>432.0</x>
                <y>1456.0</y>
            </position>
        </funnels>
        <funnels>
            <id>9a71978d-e6c8-3c5e-0000-000000000000</id>
            <parentGroupId>5d42c994-cddc-3c4f-0000-000000000000</parentGroupId>
            <position>
                <x>1072.0</x>
                <y>504.0</y>
            </position>
        </funnels>
        <labels>
            <id>045f02e0-71e5-3a14-0000-000000000000</id>
            <parentGroupId>5d42c994-cddc-3c4f-0000-000000000000</parentGroupId>
            <position>
                <x>160.0</x>
                <y>264.0</y>
            </position>
            <height>624.0</height>
            <label>JSON Computation</label>
            <style>
                <entry>
                    <key>background-color</key>
                    <value>#d6f3ff</value>
                </entry>
                <entry>
                    <key>font-size</key>
                    <value>12px</value>
                </entry>
            </style>
            <width>560.0</width>
            <zIndex>0</zIndex>
        </labels>
        <labels>
            <id>4b34a846-294e-38b6-0000-000000000000</id>
            <parentGroupId>5d42c994-cddc-3c4f-0000-000000000000</parentGroupId>
            <position>
                <x>160.0</x>
                <y>0.0</y>
            </position>
            <height>208.0</height>
            <label>HTTP Server (localhost:8081/content)</label>
            <style>
                <entry>
                    <key>font-size</key>
                    <value>12px</value>
                </entry>
            </style>
            <width>552.0</width>
            <zIndex>0</zIndex>
        </labels>
        <labels>
            <id>b82b0721-058a-3853-0000-000000000000</id>
            <parentGroupId>5d42c994-cddc-3c4f-0000-000000000000</parentGroupId>
            <position>
                <x>880.0</x>
                <y>400.0</y>
            </position>
            <height>720.0</height>
            <label>400: Bad Request</label>
            <style>
                <entry>
                    <key>background-color</key>
                    <value>#ffd6d6</value>
                </entry>
                <entry>
                    <key>font-size</key>
                    <value>12px</value>
                </entry>
            </style>
            <width>424.0</width>
            <zIndex>0</zIndex>
        </labels>
        <labels>
            <id>c3644919-fbb1-348e-0000-000000000000</id>
            <parentGroupId>5d42c994-cddc-3c4f-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>952.0</y>
            </position>
            <height>408.0</height>
            <label>Routing</label>
            <style>
                <entry>
                    <key>background-color</key>
                    <value>#d6f3ff</value>
                </entry>
                <entry>
                    <key>font-size</key>
                    <value>12px</value>
                </entry>
            </style>
            <width>872.0</width>
            <zIndex>0</zIndex>
        </labels>
        <labels>
            <id>ebcbef31-111e-3023-0000-000000000000</id>
            <parentGroupId>5d42c994-cddc-3c4f-0000-000000000000</parentGroupId>
            <position>
                <x>178.52378273393015</x>
                <y>1435.08498610934</y>
            </position>
            <height>344.0</height>
            <label>200: OK</label>
            <style>
                <entry>
                    <key>background-color</key>
                    <value>#d6ffdd</value>
                </entry>
                <entry>
                    <key>font-size</key>
                    <value>12px</value>
                </entry>
            </style>
            <width>568.0</width>
            <zIndex>0</zIndex>
        </labels>
        <processors>
            <id>03413d03-3c12-31a2-0000-000000000000</id>
            <parentGroupId>5d42c994-cddc-3c4f-0000-000000000000</parentGroupId>
            <position>
                <x>496.0</x>
                <y>1208.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.19.1</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Directory</key>
                        <value>
                            <name>Directory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Conflict Resolution Strategy</key>
                        <value>
                            <name>Conflict Resolution Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Create Missing Directories</key>
                        <value>
                            <name>Create Missing Directories</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum File Count</key>
                        <value>
                            <name>Maximum File Count</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Last Modified Time</key>
                        <value>
                            <name>Last Modified Time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Permissions</key>
                        <value>
                            <name>Permissions</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Owner</key>
                        <value>
                            <name>Owner</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Group</key>
                        <value>
                            <name>Group</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Directory</key>
                        <value>/io/output/http/default</value>
                    </entry>
                    <entry>
                        <key>Conflict Resolution Strategy</key>
                        <value>fail</value>
                    </entry>
                    <entry>
                        <key>Create Missing Directories</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Maximum File Count</key>
                    </entry>
                    <entry>
                        <key>Last Modified Time</key>
                    </entry>
                    <entry>
                        <key>Permissions</key>
                    </entry>
                    <entry>
                        <key>Owner</key>
                    </entry>
                    <entry>
                        <key>Group</key>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>PutFile</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.standard.PutFile</type>
        </processors>
        <processors>
            <id>0b2e0001-a7bd-3421-0000-000000000000</id>
            <parentGroupId>5d42c994-cddc-3c4f-0000-000000000000</parentGroupId>
            <position>
                <x>264.0</x>
                <y>288.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.19.1</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>JSON Schema</key>
                        <value>
                            <name>JSON Schema</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Schema Version</key>
                        <value>
                            <name>Schema Version</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>JSON Schema</key>
                        <value>{
    "$schema": "http://json-schema.org/draft-07/schema#",
    "type": "object",
    "properties": {},
    "required": [
        "id",
        "department"
    ],
    "additionalProperties": true
}</value>
                    </entry>
                    <entry>
                        <key>Schema Version</key>
                        <value>DRAFT_7</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>ValidateJson</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>invalid</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>valid</name>
                <retry>false</retry>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.standard.ValidateJson</type>
        </processors>
        <processors>
            <id>3ad1b263-8462-391f-0000-000000000000</id>
            <parentGroupId>5d42c994-cddc-3c4f-0000-000000000000</parentGroupId>
            <position>
                <x>264.0</x>
                <y>512.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.19.1</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Destination</key>
                        <value>
                            <name>Destination</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Return Type</key>
                        <value>
                            <name>Return Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Path Not Found Behavior</key>
                        <value>
                            <name>Path Not Found Behavior</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Null Value Representation</key>
                        <value>
                            <name>Null Value Representation</name>
                        </value>
                    </entry>
                    <entry>
                        <key>department</key>
                        <value>
                            <name>department</name>
                        </value>
                    </entry>
                    <entry>
                        <key>id</key>
                        <value>
                            <name>id</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Destination</key>
                        <value>flowfile-attribute</value>
                    </entry>
                    <entry>
                        <key>Return Type</key>
                        <value>auto-detect</value>
                    </entry>
                    <entry>
                        <key>Path Not Found Behavior</key>
                        <value>warn</value>
                    </entry>
                    <entry>
                        <key>Null Value Representation</key>
                        <value>empty string</value>
                    </entry>
                    <entry>
                        <key>department</key>
                        <value>$.department</value>
                    </entry>
                    <entry>
                        <key>id</key>
                        <value>$.id</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>EvaluateJsonPath</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>matched</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>unmatched</name>
                <retry>false</retry>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
        </processors>
        <processors>
            <id>3d5752ab-8224-38e1-0000-000000000000</id>
            <parentGroupId>5d42c994-cddc-3c4f-0000-000000000000</parentGroupId>
            <position>
                <x>920.0</x>
                <y>760.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.19.1</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Regular Expression</key>
                        <value>
                            <name>Regular Expression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Replacement Value</key>
                        <value>
                            <name>Replacement Value</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Character Set</key>
                        <value>
                            <name>Character Set</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum Buffer Size</key>
                        <value>
                            <name>Maximum Buffer Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Replacement Strategy</key>
                        <value>
                            <name>Replacement Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Evaluation Mode</key>
                        <value>
                            <name>Evaluation Mode</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Line-by-Line Evaluation Mode</key>
                        <value>
                            <name>Line-by-Line Evaluation Mode</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Regular Expression</key>
                        <value>.*</value>
                    </entry>
                    <entry>
                        <key>Replacement Value</key>
                        <value>{"error": "Bad Request"}</value>
                    </entry>
                    <entry>
                        <key>Character Set</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>Maximum Buffer Size</key>
                        <value>1 MB</value>
                    </entry>
                    <entry>
                        <key>Replacement Strategy</key>
                        <value>Regex Replace</value>
                    </entry>
                    <entry>
                        <key>Evaluation Mode</key>
                        <value>Entire text</value>
                    </entry>
                    <entry>
                        <key>Line-by-Line Evaluation Mode</key>
                        <value>All</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>ReplaceText</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.standard.ReplaceText</type>
        </processors>
        <processors>
            <id>511bb764-1551-3993-0000-000000000000</id>
            <parentGroupId>5d42c994-cddc-3c4f-0000-000000000000</parentGroupId>
            <position>
                <x>264.0</x>
                <y>744.0</y>
            </position>
            <bundle>
                <artifact>nifi-update-attribute-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.19.1</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Delete Attributes Expression</key>
                        <value>
                            <name>Delete Attributes Expression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>
                            <name>Store State</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                        <value>
                            <name>Stateful Variables Initial Value</name>
                        </value>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>
                            <name>canonical-value-lookup-cache-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>filename</key>
                        <value>
                            <name>filename</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Delete Attributes Expression</key>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>Do not store state</value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>100</value>
                    </entry>
                    <entry>
                        <key>filename</key>
                        <value>${id}-${now():format('yyyy-MM-dd-HH-mm-ss')}.json</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>25</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>UpdateAttribute</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
            <id>56bb2744-7410-3246-0000-000000000000</id>
            <parentGroupId>5d42c994-cddc-3c4f-0000-000000000000</parentGroupId>
            <position>
                <x>264.0</x>
                <y>968.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.19.1</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Routing Strategy</key>
                        <value>
                            <name>Routing Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>management</key>
                        <value>
                            <name>management</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Routing Strategy</key>
                        <value>Route to Property name</value>
                    </entry>
                    <entry>
                        <key>management</key>
                        <value>${department:equals("management")}</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>25</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>RouteOnAttribute</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>management</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>unmatched</name>
                <retry>false</retry>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
        </processors>
        <processors>
            <id>59167687-0b21-35df-0000-000000000000</id>
            <parentGroupId>5d42c994-cddc-3c4f-0000-000000000000</parentGroupId>
            <position>
                <x>920.0</x>
                <y>976.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.19.1</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>HTTP Status Code</key>
                        <value>
                            <name>HTTP Status Code</name>
                        </value>
                    </entry>
                    <entry>
                        <key>HTTP Context Map</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.http.HttpContextMap</identifiesControllerService>
                            <name>HTTP Context Map</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Attributes to add to the HTTP Response (Regex)</key>
                        <value>
                            <name>Attributes to add to the HTTP Response (Regex)</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>HTTP Status Code</key>
                        <value>400</value>
                    </entry>
                    <entry>
                        <key>HTTP Context Map</key>
                        <value>e5c6d7fa-a3f9-31cc-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>Attributes to add to the HTTP Response (Regex)</key>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>HandleHttpResponse</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.standard.HandleHttpResponse</type>
        </processors>
        <processors>
            <id>bd36906e-b36f-3658-0000-000000000000</id>
            <parentGroupId>5d42c994-cddc-3c4f-0000-000000000000</parentGroupId>
            <position>
                <x>264.0</x>
                <y>56.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.19.1</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Listening Port</key>
                        <value>
                            <name>Listening Port</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Hostname</key>
                        <value>
                            <name>Hostname</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.ssl.RestrictedSSLContextService</identifiesControllerService>
                            <name>SSL Context Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>HTTP Protocols</key>
                        <value>
                            <dependencies>
<propertyName>SSL Context Service</propertyName>
                            </dependencies>
                            <name>HTTP Protocols</name>
                        </value>
                    </entry>
                    <entry>
                        <key>HTTP Context Map</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.http.HttpContextMap</identifiesControllerService>
                            <name>HTTP Context Map</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Allowed Paths</key>
                        <value>
                            <name>Allowed Paths</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Default URL Character Set</key>
                        <value>
                            <name>Default URL Character Set</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Allow GET</key>
                        <value>
                            <name>Allow GET</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Allow POST</key>
                        <value>
                            <name>Allow POST</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Allow PUT</key>
                        <value>
                            <name>Allow PUT</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Allow DELETE</key>
                        <value>
                            <name>Allow DELETE</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Allow HEAD</key>
                        <value>
                            <name>Allow HEAD</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Allow OPTIONS</key>
                        <value>
                            <name>Allow OPTIONS</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum Threads</key>
                        <value>
                            <name>Maximum Threads</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Additional HTTP Methods</key>
                        <value>
                            <name>Additional HTTP Methods</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Client Authentication</key>
                        <value>
                            <name>Client Authentication</name>
                        </value>
                    </entry>
                    <entry>
                        <key>container-queue-size</key>
                        <value>
                            <name>container-queue-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>multipart-request-max-size</key>
                        <value>
                            <name>multipart-request-max-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>multipart-read-buffer-size</key>
                        <value>
                            <name>multipart-read-buffer-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>parameters-to-attributes</key>
                        <value>
                            <name>parameters-to-attributes</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Listening Port</key>
                        <value>8081</value>
                    </entry>
                    <entry>
                        <key>Hostname</key>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                    </entry>
                    <entry>
                        <key>HTTP Protocols</key>
                        <value>HTTP_1_1</value>
                    </entry>
                    <entry>
                        <key>HTTP Context Map</key>
                        <value>e5c6d7fa-a3f9-31cc-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>Allowed Paths</key>
                        <value>/content</value>
                    </entry>
                    <entry>
                        <key>Default URL Character Set</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>Allow GET</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Allow POST</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Allow PUT</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Allow DELETE</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Allow HEAD</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Allow OPTIONS</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Maximum Threads</key>
                        <value>200</value>
                    </entry>
                    <entry>
                        <key>Additional HTTP Methods</key>
                    </entry>
                    <entry>
                        <key>Client Authentication</key>
                        <value>No Authentication</value>
                    </entry>
                    <entry>
                        <key>container-queue-size</key>
                        <value>50</value>
                    </entry>
                    <entry>
                        <key>multipart-request-max-size</key>
                        <value>1 MB</value>
                    </entry>
                    <entry>
                        <key>multipart-read-buffer-size</key>
                        <value>512 KB</value>
                    </entry>
                    <entry>
                        <key>parameters-to-attributes</key>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>HandleHttpRequest</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.standard.HandleHttpRequest</type>
        </processors>
        <processors>
            <id>c6180db2-d4d4-3d8f-0000-000000000000</id>
            <parentGroupId>5d42c994-cddc-3c4f-0000-000000000000</parentGroupId>
            <position>
                <x>280.0</x>
                <y>1584.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.19.1</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>HTTP Status Code</key>
                        <value>
                            <name>HTTP Status Code</name>
                        </value>
                    </entry>
                    <entry>
                        <key>HTTP Context Map</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.http.HttpContextMap</identifiesControllerService>
                            <name>HTTP Context Map</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Attributes to add to the HTTP Response (Regex)</key>
                        <value>
                            <name>Attributes to add to the HTTP Response (Regex)</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>HTTP Status Code</key>
                        <value>200</value>
                    </entry>
                    <entry>
                        <key>HTTP Context Map</key>
                        <value>e5c6d7fa-a3f9-31cc-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>Attributes to add to the HTTP Response (Regex)</key>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>HandleHttpResponse</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.standard.HandleHttpResponse</type>
        </processors>
        <processors>
            <id>fac79ebd-fa18-3efe-0000-000000000000</id>
            <parentGroupId>5d42c994-cddc-3c4f-0000-000000000000</parentGroupId>
            <position>
                <x>40.0</x>
                <y>1208.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.19.1</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Directory</key>
                        <value>
                            <name>Directory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Conflict Resolution Strategy</key>
                        <value>
                            <name>Conflict Resolution Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Create Missing Directories</key>
                        <value>
                            <name>Create Missing Directories</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum File Count</key>
                        <value>
                            <name>Maximum File Count</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Last Modified Time</key>
                        <value>
                            <name>Last Modified Time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Permissions</key>
                        <value>
                            <name>Permissions</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Owner</key>
                        <value>
                            <name>Owner</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Group</key>
                        <value>
                            <name>Group</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Directory</key>
                        <value>/io/output/http/management</value>
                    </entry>
                    <entry>
                        <key>Conflict Resolution Strategy</key>
                        <value>fail</value>
                    </entry>
                    <entry>
                        <key>Create Missing Directories</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Maximum File Count</key>
                    </entry>
                    <entry>
                        <key>Last Modified Time</key>
                    </entry>
                    <entry>
                        <key>Permissions</key>
                    </entry>
                    <entry>
                        <key>Owner</key>
                    </entry>
                    <entry>
                        <key>Group</key>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>PutFile</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.standard.PutFile</type>
        </processors>
    </snippet>
    <timestamp>12/07/2024 15:26:28 UTC</timestamp>
</template>
